body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50 px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 5o%;
    padding: 5%;
}

.half-width img {
    width: 70%;
}